*
{
    box-sizing: border-box;
}

body
{
    background-color: black;
}

.wrapper
{
    /* border: 1px solid red; */
    width: 27rem;
    height: 30rem;
}

.backgroundImg , .finished
{
    width: 27rem;
    height: 30.17rem;
}

.container , .moleImg
{
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    position: absolute;
    background-color: black;
    /* border: 1px solid blue; */
}

.row1 
{
    top: 4rem;
}

.container1
{
    left: 6rem;
}

.container2
{
    left: 16rem;
}

.row2
{
    top: 10.5rem;
}

.container3
{
    left: 2rem;
}

.container4
{
    left: 11rem;
}

.container5
{
    left: 20rem;
}

.row3
{
    top: 17.5rem;
}

.container6
{
    left: 2rem;
}

.container7
{
    left: 11rem;
}

.container8
{
    left: 20rem;
}

.row4
{
    top: 23.5rem;
}

.container9
{
    left: 6rem;
}

.container10
{
    left: 16rem;
}

.worm
{
    /* position: absolute;
    top: 1rem;
    left: 5.5rem; */
    height: 2rem;
    width: 22rem; 
    /* border: 1px solid green; */
}

.wormContainer
{
    overflow: hidden;
    /* width: 10%; */
    /* border: 1px dotted blue; */
}

.wormBox
{
    position: absolute;
    top: 1rem;
    left: 5.5rem;
    height: 2rem;
    width: 22rem;
    /* border: 1px solid red; */
}

.timer
{
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 2rem;
    width: 2rem;
    color: black;
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid blue; */
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score
{
    position: absolute;
    top: -2rem;
    left: 9rem;
    font-family: cursive;
    font-weight: bold;
    font-size: 2.5rem;
    text-decoration: none;
    color: yellow
}

.playAgain
{
    position: absolute;
    top: 4rem;
    left: 10.3rem;
    font-family: cursive;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(165, 32, 165);
    text-decoration: underline;
}

.playAgain:hover , .playAgain:focus , .playAgain::selection
{
    color: blue;
}

.title
{
    position: absolute;
    top: 3rem;
    left: 6rem;
    font-family: cursive;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    color: yellow;
}

.play
{
    position: absolute;
    top: 7rem;
    left: 8rem;
    font-family: cursive;
    font-weight: bold;
    font-size: 2.5rem;
    text-decoration: none;
    color: rgb(165, 32, 165);
}

.play:hover , .play:focus , .play::selection
{
    color: blue;
}

.openingMole
{
    position: absolute;
    top: 13rem;
    left: 7.5rem;
    /* border: 1px solid blue; */
    height: 11rem;
    width: 13rem;
}

.newGame_page
{
    display: block;
}

.duringGame_page
{
    display: none;
}

.endGame_page
{
    display: none;
}