body
{
    /* border: 1px solid blue; */
    margin: -0.5px;
}

header
{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    background-color: #C90B00;
    align-items: center;
    padding: 0.78rem;
}

.title
{
    /* border: 2px solid blue; */
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 1rem;
    color: white;
}

.breedsSelect
{
    /* border: 2px solid green; */
    margin-right: 2rem;
}

.dogPic
{
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
}

.midline
{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-top: 10rem;
    /* border: 2px solid blue; */
    padding: 1rem;
}

.dogEmoji
{
    animation: spin 1s linear infinite;
    display: none;
}

.dogImg
{
    display: none;
}


/* WARNING: This "show" class MUST be placed anywhere AFTER the "dogEmoji" class and the "dogImg" class */
.show
{
    display: block;
}

@keyframes spin
{
    to
    {
        transform: rotateZ(360deg);
        /* border: 2px solid green; */
    }
}