body
{
    background-color: black;
}

.wrapper
{
    border: 4px solid blue;
    background-color: gainsboro;
    /* margin: 1rem; */
    padding: 1.2rem;
    border-radius: 1rem;
    margin: 1rem 1rem;
}

.screen
{
    border: 4px solid black;
    margin-bottom: 4rem;
}

#inputScreen , #outputScreen
{
    border-bottom: 2px solid black;
    padding: 1rem;
}

.headerButtons
{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    /* border: 2px solid blue; */
    margin-bottom: 2rem;
}

#clear , #backspace
{
    font-size: 1rem;
    padding: 0.3rem 1.7rem;
}

.gridButtons 
{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    /* padding: 0.5rem; */
}

.row
{
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    /* padding: 1rem; */
}

.num
{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid green; */
    /* padding: 1px 3.2rem; */
    /* padding-left: 2.3rem; */
}

.n
{
    font-size: 1rem;
    margin: 0.2rem;
    padding: 0.5rem 1rem;
    /* border: 1px solid orange; */
}

.lastGridButtons
{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
}

#n0
{
    margin-left: 3.5rem;
}

#plus , #minus , #multiply , #divide
{
    padding: 0 1.8rem;
}

.footerButtons
{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    margin-top: 1.5rem;
    align-items: center;
}

#equalTo
{
    padding: 1rem 2rem;
}

#point 
{
    margin-left: 5.4rem;
    padding: 0.4rem 0.9rem;
}

.gridButtons 
{
    border-top: 2px solid blue;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
}

.lastGridButtons
{
    border-left: 2px solid blue;
    border-bottom: 2px solid blue;
    border-right: 2px solid blue;
}